# LaTeX Hilfsdateien ignorieren
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.bbl
*.blg

# C++ Build-Dateien ignorieren
02_Calculator_UI/build/
02_Calculator_UI/out/
Bau/

# PlatformIO Build-Dateien ignorieren
01_Arduino_Code/.pio/
01_Arduino_Code/.vscode/

# Allgemeine Editor-Ordner ignorieren
.vscode/